:host {
  display: contents;
}

.topbar {
  background: var(--sidebar);
  border-bottom: 1px solid var(--border);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: flex;
  align-items: center;
  height: 80px;

  .container {
    max-width: none;
  }
}