:host {
  display: contents;
}

.topbar {
  background: var(--sidebar);
  border-bottom: 1px solid var(--border);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: flex;
  align-items: center;
  height: 80px;

  .container {
    max-width: none;
  }
}

// Style the native search input clear button
input[type="search"] {
  // Webkit browsers (Chrome, Safari, Edge)
  &::-webkit-search-cancel-button {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    height: 16px;
    width: 16px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23666' viewBox='0 0 24 24'%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3C/svg%3E");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    transition: opacity 0.2s ease;
    
    &:hover {
      opacity: 1;
    }
  }
  
  // Firefox
  &::-moz-search-cancel-button {
    cursor: pointer;
  }
}